<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><center><form action="" method="POST">
    {% csrf_token %}
    Username:<input type="text" id="t" name="user"><br><br>
    password:<input type="password" id="t1" name="pass"><br><br>
    age:<input type="text" name="age"><br>
    <input type="submit" value="sub" name="s">
</form>
</center>
</body>
</html>