{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{% static 'js/external.js' %}">
        document.write("javascript");

    </script>
    <style>


#a{

background-color: white;
width: 200px;
height: 300px;
}
body{
    background-color: cyan;
    padding-top: 100px;
    padding-left: 500px;
}





    </style>
<body>
    <div class="container-fluid" >
        <div class="row">
            <div class="col-lg-12"></div>

        </div>
        <div class="row"></div>
        <div class="col-lg-3"></div>
        <div class="col-lg-6" id="a">
            <form><center><br><br>
                Username:
                <input type="text" placeholder="username"><br><br>
                password:
                <input type="password" placeholder="password"><br><br>
                <input type="submit"  onclick="alert('cybersquare')"><br><br>
                <input type="reset">
            </center>
            <input type="button" onclick="exter()" value="sum">




            </form>
        </div>
        <div class="col-lg-3"></div>


    </div>
    
</body>
</html>